.profile {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;  
}  
  
.objective {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;  
}  
  
.education {
    background-color: #db0b1c;
    padding: 20px;
    margin-bottom: 20px;  
}  
  
.experience {
    background-color: #cce5ff;
    padding: 20px;
    margin-bottom: 20px;  
}  
